[submodule "plugins/SocialCompass"]
	path = plugins/SocialCompass
	url = https://github.com/chozabu/RsSocialCompass.git
[submodule "plugins/Lua4RS"]
	path = plugins/Lua4RS
	url = git@github.com:hunbernd/Lua4RS.git
[submodule "plugins/PaintChat"]
	path = plugins/PaintChat
	url = git@github.com:hunbernd/Retroshare-Paintchat-Plugin.git
[submodule "plugins/FriendMap"]
	path = plugins/FriendMap
	url = git@github.com:hunbernd/FriendMap.git
	
[submodule "plugins/ExportImport"]
	path = plugins/ExportImport
	url = https://github.com/sehraf/ExportImport.git
